.stream-event
  #{ grouping_version.watcher.present? ? grouping_version.watcher.display_name : "Someone" } changed state from
  %span.state-change #{ grouping_version.reify.state } to #{(grouping_version.next.try(:reify) || grouping_version.item.reload).try(:state)}
  .at
    #{time_ago_in_words grouping_version.created_at} ago
