= form_for note, url: grouping_notes_url(note.grouping), html: { class: "new_note mb80" } do |f|
  %br
  = f.text_area :message, class: "form-control mb20", rows: 3
  = f.button "Post", class: "btn btn-primary pull-right"
