.states.pull-right
  - unless group.deprioritized? || group.resolved?
    = link_to "Deprioritize", deprioritize_grouping_path(group), method: :post, class: "btn btn-default"

  - if group.unacknowledged? || group.deprioritized?
    = link_to "Acknowledge", acknowledge_grouping_path(group), method: :post, class: "btn btn-warning"

  - if group.resolved?
    = link_to "Unresolve", acknowledge_grouping_path(group), method: :post, class: "btn btn-default"
  - else
    = link_to "Resolve", resolve_grouping_path(group), method: :post, class: "btn btn-success"
