.states.pull-right
  - if !group.active?
    = link_to "Reactivate", activate_grouping_path(group), method: :post, class: "btn btn-primary"
  - else
    = link_to "Won't Fix", wontfix_grouping_path(group), method: :post, class: "btn btn-default"

  - if group.active? || group.wontfix?
    = link_to "Muffle", muffle_grouping_path(group), method: :post, class: "btn btn-warning"

  - unless group.resolved?
    = link_to "Resolve", resolve_grouping_path(group), method: :post, class: "btn btn-success"
