.modal#users-affected
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        - grouping.app_user_stats(filters: filters, limit: 100).each do |app_user, count|
          %li.row
            .col-md-1
              .badge.badge-info.pull-right=  count
            = app_user
        - if Grouping.with_timeout_default(1, true) { grouping.app_user_count(filters: filters) > 100 }
          %li.row
            .col-md-1
              .badge.badge-info.pull-right
            = "..."
