
.modal#wat-chart-modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        - if @chart
          .highchart{data: {chart: @chart.to_json}}
        - else
          Chart Unavailable
