%ul
  = render :partial => 'group', :collection => @groupings

- content_for :sidebar do
  %li.nav-header 
    Wats
  - p ["grouping", @groupings]
  - @groupings.each do |group|
    - wats = wats(group)
    %li
      = link_to group do
        .badge=wats.count
        = wat_heading(representative_wat(wats))

