%ul
  = render :partial => 'group', :collection => @groupings

- content_for :sidebar do
  %li.nav-header
    Wats
  - p ["grouping", @groupings]
  - @groupings.each do |group|
    - p ['group', group.wats.count]
    - wattles = group.wats
    %li
      = link_to group do
        .badge=wattles.count
        = wat_heading(representative_wat(wattles))
