- wats = wats(@grouping)
- wat = representative_wat(wats)
.grouping_data
  = render @grouping, wats: wats, wat: wat
  %br


  = render partial: "notes/index", locals: {notes: @grouping.notes }

  .highchart{data: {chart: @chart.to_json}}

  - paged_wats = wats.order("created_at desc").page(params[:page]).per(1)
  = paginate paged_wats
  .grouping_details
    = render paged_wats

