- wats = wats(@grouping)
- if wats.empty?
  %h5 Yo man, there's too many filters to show anything anymore so you might want to filter less in your filtering
- else
  .grouping_data
    = render @grouping, wats: wats

  - paged_wats = wats.order("captured_at desc").page(params[:page]).per(1)

  .row
    .col-md-7

      = render paged_wats

    .col-md-4.col-md-offset-1.m20.mb30.mt30
      = render partial: "stream_events/index", locals: {stream_events: @stream_events }
      = paginate paged_wats


