- wats = wats(@grouping)
- if wats.empty?
  %h5 Yo man, there's too many filters to show anything anymore so you might want to filter less in your filtering
- else
  .grouping_data
    = render @grouping, wats: wats
    %br


    = render partial: "notes/index", locals: {notes: @grouping.notes }

    .highchart{data: {chart: @chart.to_json}}

    - paged_wats = wats.order("captured_at desc").page(params[:page]).per(1)
    = paginate paged_wats
    .grouping_details
      = render paged_wats

