// Place all the styles related to the groupings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grouping_data {
  position: relative;
}

.states {
  .btn {
    display: inline-block;
    margin-left: 10px;
  }
}

.grouping_summary {
  .wat-card {
    display: inline-block;
    width: 120px;
  }

  .big-number {
    font-size: 40px;
    color: #FF6D2A;
  }
}

.timestamp {
  font-size: 14px;
  color: #95A0A5;
  text-align: right;
}

.states-and-environments-container{
  @extend .clearfix;

  .active-tag {
    @extend .alert;
    background-color: $active;
  }

  .wontfix-tag {
    @extend .alert;
    background-color: $wontfix;
  }

  .resolved-tag {
    @extend .alert;
    background-color: $resolved;
  }

  .muffled-tag {
    @extend .alert;
    background-color: $muffled;
  }

  .alert {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 15px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 20px;
    color: white;
  }

  .environments {
    color: black;
    border: solid black 1px;
  }
}

.group_state_active {
  h4 {
    background: $active;
  }
}

.group_state_muffled {
  h4 {
    background: $muffled;
  }
}

.group_listing.group_state_resolved {
  h4 {
    background: $resolved;
  }
}
.group_listing.group_state_wontfix {
  h4 {
    background: $wontfix;
  }
}

.group_listing {
  margin-bottom: 30px;
  border: 1px solid $light-grey;
  border-radius: 5px;

  .grouping_detail_link:hover {
    text-decoration: none;
  }

  .group_state {
    padding: 0px 10px;
  }

  h4 {
    border-radius: 5px 5px 0 0;
    margin-top: 0;
    line-height: 55px;

    &:hover {
      @include opacity(0.6);
    }
  }

  .incident_heading {
    padding-left: 20px;
    display: inline;
    color: white;
  }

  .incident_user_count {
    padding-right: 10px;
    display: inline;
    color: white;
  }

  .incident_count {
    display: inline-block;
    line-height: 25px;
    padding: 0 15px;
    margin-left: 20px;
    color: white;
    border: solid white 2px;
    border-radius: 15px;
    text-align: center;
  }

  .grouping_body {
    padding: 10px;

    dl {
      margin-bottom: 0;
    }

    dt {
      text-align: left;
      width: 100px;
    }

    dd {
      margin-left: 100px;
    }

    .text {
      margin-top: 5px;
    }

    .code {
      margin-top: 10px;
    }
  }
}
