// Place all the styles related to the groupings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grouping_data{
  position: relative;
}

.page-title{
  width: 50%;
}

.states-and-environments-container{
  @extend .clearfix;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 350px;

  .current_state{
    max-width: 150px;
  }

  .active-tag{
    @extend .alert;
    @extend .alert-danger;
  }
  .acknowledged-tag{
    @extend .alert;
    @extend .alert-info;
  }
  .resolved-tag{
    @extend .alert;
    @extend .alert-success;
  }

  .alert{
    margin: 5px 5px 0;
  }
}

.group_listing.group_state_active {
  h4 {
    background: rgba( 248, 148, 6, 0.7);
    &:hover {
      background: rgba( 248, 148, 6, 1);
    }
  }
}

.group_listing.group_state_resolved {
  h4 {
    background: rgba( 70, 165, 70, 0.7);
    &:hover {
      background: rgba( 70, 165, 70, 1);
    }
  }
}
.group_listing.group_state_acknowledged {
  h4 {
    background: rgba( 180, 180, 180, 0.7);
    &:hover {
      background: rgba( 180, 180, 180, 1);
    }
  }
}
.group_listing {
  margin-bottom: 20px;
  border: 1px solid silver;
  border-radius: 16px 16px 0 0;

  .grouping_detail_link:hover {
    text-decoration: none;
  }

  .group_state {
    font-size: 12px;
    font-weight: normal; 
    margin-right: 32px;
    padding: 0px 10px;
    background: rgba( 200, 200, 200, 0.5 );
    line-height: 32px;
  }

  h4 {
    border-bottom: 1px solid silver;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 16px 16px 0 0;
    line-height: 32px;

  }

  

  .incident_heading {
    padding-left: 20px;
    display: inline;
    color: white;
  }

  .incident_language {
    padding-right: 10px;
    display: inline;
    color: white;
    text-align: bottom;
  }

  .incident_count {
    display: inline;
    margin-left: 32px; 
    color: white;
  }

  .grouping_body {
    padding: 10px;
  }
}

.backtrace_container {
  height: 200px;
  overflow: hidden;

  .obscure_backtrace {
    display: none;
  }
}

.backtrace_container.complete {
  height: auto;
  .obscure_backtrace {
    display: inline;
  }
}
.group_listing {
  margin-bottom: 20px;
  border: 1px solid silver;
  border-radius: 16px 16px 0 0;

  .grouping_detail_link:hover {
    text-decoration: none;
  }

  .group_state {
    font-size: 12px;
    font-weight: normal; 
    margin-right: 32px;
    padding: 0px 10px;
    background: rgba( 200, 200, 200, 0.5 );
    line-height: 32px;
  }

  h4 {
    border-bottom: 1px solid silver;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 16px 16px 0 0;
    line-height: 32px;

  }

  .incident_heading {
    padding-left: 20px;
    display: inline;
    color: white;
  }

  .incident_count {
    display: inline;
    margin-left: 32px; 
    color: white;
  }

  .grouping_body {
    padding: 10px;
  }
}

.backtrace_container {
  height: 200px;
  overflow: hidden;

  .obscure_backtrace {
    display: none;
  }
}

.backtrace_container.complete {
  height: auto;
  .obscure_backtrace {
    display: inline;
  }
}

.on-pages-link{
  line-height: 24px;
}


@media screen and (max-width: 1300px) {
  .page-title{
    width: 100%;
  }
  .states-and-environments-container{
    position: relative;
    clear: both;
    float: none;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
