body{
  padding-top: 70px;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.logo-label {
  font-size: $size3;
  line-height: $size3;
}

.watcher-avatar {
  position: relative;
  top: -5px;
  right: 5px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.divider-vertical {
  border-left: 1px solid lightgray;     // right or left is the same
}
