=render partial: 'filters/app_names', locals: {prefix: prefix, filter_set: filter_set}
=render partial: 'filters/app_envs',  locals: {prefix: prefix, filter_set: filter_set}
=render partial: 'filters/hosts',     locals: {prefix: prefix, filter_set: filter_set}
=render partial: 'filters/languages', locals: {prefix: prefix, filter_set: filter_set}
=render partial: 'filters/user',      locals: {prefix: prefix, filter_set: filter_set}
