%li.nav-header.mb20
  Languages
  %ul.filter#app_names
    - languages.each do |name|
      %li
        =label_tag do
          = check_box_tag "#{prefix}[language][]", name, filter_set.checked?(:language, name)
          = name
