%li.nav-header.mb20
  Search
  %ul.filter#search
    = text_field_tag "#{prefix}[search_query]", filter_set["search_query"], placeholder: "Search"
    = submit_tag "search", class: "btn-primary mt10"
