%li.nav-header.mb20
  Applications
  %ul.filter#app_names
    - app_names.each do |name|
      %li
        =label_tag do
          = check_box_tag "filters[app_name][]", name, checked?(:app_name, name)
          = name
