=form_tag("#{request.fullpath}", method: "get", id: "filters") do
  =render partial: 'layouts/app_names'
  =render partial: 'layouts/app_envs'
  =render partial: 'layouts/languages'
  =render partial: 'layouts/states'
