%li.nav-header
  Applications
  %ul.filter#app_names
    - languages.each do |name|
      %li
        =label_tag do
          = check_box_tag "filters[language][]", name, checked?(:language, name)
          = name
