%li.nav-header.mb20
  States
  %ul.filter#states
    %li
      =label_tag do
        = check_box_tag 'filters[state][]', 'active', checked?(:state, 'active')
        Active
    %li
      =label_tag do
        = check_box_tag 'filters[state][]', 'wontfix', checked?(:state, 'wontfix')
        Won't Fix
    %li
      =label_tag do
        = check_box_tag 'filters[state][]', 'resolved', checked?(:state, 'resolved')
        Resolved
